.contacto{
    padding: 90px 1rem 1rem 1rem;
    background-color: $color-fondo;
    color: #ffffff;
    input::placeholder {
        color: #ffffff;
      }
    input{
        @include color-form;
    }
    input:focus{
        @include color-form;
    }
    input:active{
        @include color-form;
    }
    textarea::placeholder{
        color: #ffffff
    }
    textarea{
        @include color-form;
    }
    textarea:focus{
        @include color-form;
    }
    .btn-dark{
        margin-top: 1rem;
    }
}
/* Media Q */
@media (min-width: 390px){
    .contacto{
        padding: 90px 2rem 1rem 2rem;
    }
}
@media (min-width: 768px){
    .contacto{
        padding: 90px 4rem 1rem 4rem;
    }
}
@media (min-width: 1023px){
    .contacto{
        padding: 90px 300px 1rem 300px;
    }
}