.curso {
    background-color: $color-fondo;
    padding: 100px 1rem 1rem 1rem;
    

    h4 {
        color: #ffffff;
    }

    hr {
        border: 1px solid #ccc;
        margin: 10px 0;
        width: 50%;
    }

    p {
        color: #ffffff;
    }
}
@media (min-width: 480px){
    .curso {
        background-color: $color-fondo;
        padding: 100px 2rem 1rem 2rem;
    }
}
@media (min-width: 1023px){
    .curso {
        background-color: $color-fondo;
        padding: 100px 4rem 1rem 4rem;
    }
}