.equipo{
    background-color: #171717;
    padding: 80px 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 260px;
        object-fit: cover;
        padding: 0 2rem 2rem;
    }
    h3{
        color: #ffffff;
        padding-bottom: 1rem;
    }
    p{
        color: #ffffff;
    }
    .equipo-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/* Media Q */
@media (min-width: 1023px){
    .equipo{
        padding: 100px 4rem 1rem 4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
}
@media (min-width: 768px){
    .equipo{
        padding: 80px 4rem 1rem 4rem;
        display: flex;
        align-items: normal;
    }
}