.pagos{
    padding: 80px 1rem 1rem 1rem;
    color: #4CAF50;
    background-color: #121212;
    .iconos-pago{
        display: flex;
        align-items: center;
        justify-content: center;
        .pix-icon{
            height: 2rem;
            fill: #4CAF50;
            padding-right: 1rem;
        }
        .bx-qr{
            font-size: 2.5rem;
        }
    }
    
}