.nav-plataforma{
    display: flex;
    align-items: center;
    background-color: $color-fondo;
    a{
        padding: .5rem 1rem;
        .nav-plataforma-logo{
            height: 65px;
        }
    }
    .saludoPlataforma{
        margin: 0;
        padding-left: 1rem;
        color: #ffffff;
    }
    
}

.clases-container{
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 2rem;
    .videoAula{
        padding: 2rem;
        border-bottom: 2px solid #ffffff;
        h3{
            color: #ffffff;
        }
        p{
            color: $color-acento;
            font-weight: bold;
        }
        .videoPostado{
            width: 300px;
        }
    }
    
}